body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
     "nav"
     "main"
     "footer";
    }

 .indexP {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: auto;
    grid-template-areas: "left right";
    height: 90vh;
}     

.left{
    grid-area: left;
    background-image: url(background01.jpg);
    background-position: center;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right{
    grid-area: right;
    display: flex;
}

.right img {
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

nav li {
    width: 100%;
    text-align: center;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    display: block;
    transition: 0.5s ease;

}

nav a:hover {
    background-color: rgba(0, 0, 0, 0.192);
    transition: 0.5s ease;
}

.ON, .OFF {
    display: none;
}
/* PORTFOLIO PAGE */
.portP {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 2em;
    grid-gap: 1em;
    padding-top: 5em;
    padding-bottom: 5em;
}

.h1{
    display: grid;
    text-align: center;

}

.portP img {
    height: 165px;
    width: 305px;
    object-fit: cover;
}




/* Blog Page*/

.blogP {
    display: grid;
    grid-template-columns: auto auto auto;
}

.blogP section
{
    text-align: center;
    margin: 2em;
    margin-top: 3em;
    margin-bottom: 12em;

}

.blogP h1 
{
    font-size: 2em;
}


  .contactP{
      width: 100%; 
  }
  
  form {
    box-sizing: border-box;
    padding: 12rem;
    border-radius: 1.5rem;
    background-color: hsl(0, 5%, 41%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    font-size: 2em;
  }

  .contactP h1{
    text-align:center;
    background-color: rgb(133, 122, 122);
    padding: 1em;
    margin: 1em;
    border-radius: 2em;

  }



  /*sitereport*/

  .div{
      width: auto;
      padding: 6em;
      margin: 8px;
      border-radius: 0.5em maroon;
      text-align: center;
  }
   
  
  img{
      max-width: 90%;
      border-radius: 1em;
      padding: 0.5em;
      text-align: center;
      height: auto;
      image-resolution:10px;
      margin-left: 4em;
  }

 