* {
    margin:0;
    padding: 0;
    font-family: 'Karla', sans-serif;
}

nav{
    background-color: rgba(67, 21, 110, 0.637);
    grid-area: nav;
}
main{
    background-color: rgba(129, 87, 87, 0.397);
    grid-area: main;
}
footer{
    background-color: rgb(187, 49, 49);
    grid-area: footer;
}

.blogP {
    background-image: url(background03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


