body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
        background-color: rgb(218, 112, 112);
}

nav {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    padding: 0 1em;
    background-color: rgba(137, 43, 226, 0.699);
   }

   nav li {
       list-style: none;
       padding: 0.5em;
   }

   nav a {
       text-decoration: none;
       color: white;
   }

#showNav .ON {display: block; float: left;}
#showNav .OFF {display: none;}

#showNav:target .ON {display: none;}
#showNav:target .OFF {display: block; float: left;}

#showNav:target nav { display:block;}

.right img {
    width: 20%;
}

.indexP {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

.indexP {
    background-image: url(background01.jpg);
    text-align: center;
    color: white;
}

.indexP h1 {
    padding: 1em;
    font-size: 2em;
}

.indexP p {
    padding: 1em;
    font-size: 1.5em;
}
.indexP img{
    width: 70%;
}

.right img{
    padding: 1em;

}
.ON, .OFF{
    color: rgba(42, 165, 159, 0.459);
    text-decoration: none;
    font-size: 1.5em;
}

/* PORTFOLIO PAGE */
.portP {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    align-items: center;
    padding: 2em;
    grid-gap: 1em;
}

.portP img {
    height: 165px;
    width: 305px;
    object-fit: cover;
    border-radius: 1em;
    box-shadow: 5px 10px #8888885b;
}